body{
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    display:flex;
    background-color:#edede9;
    border-radius:20px;
    width:800px;
    height:500px;
}
.left{
    width:400px;
    height:500px;
    background:linear-gradient(to bottom,#9897b1,#6743fe);
    border-radius:20px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;

   }

.right{
    width:400px;
    height:400px;
    border-radius:20px;
    text-align:center;
    display: flex;
    flex-direction: column;
}
.circle{
    border-radius:50%;
    background-color:#363294;
    width:200px;
    height:200px;
    color:#fefbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.n76{
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:60px;
}
.o100{
    font-size: 20px;
    margin-top: 40px;
    font-family: "BBH Sans Bogle", sans-serif;

}
.circle p {
  margin: 0;
}

.great{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: aliceblue;
}

.greaty{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(250, 250, 250);
  font-size: 30px;
}

.rightt{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.div1{
  background-color: #e6394724;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 15px;
  width: 240px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1 p{ 
  margin: 7;
}

.reaction{
  color:#e43342;
}
.div2{
    background-color: #ffb80335;
    border-radius: 20px;
    margin: 10px auto;
    padding:10px 15px;
    width:240px;
    font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div2 p{
  margin:7 ;
}
.memory{
  color: #ffb700;
}

.div3{
  background-color: #a7c95734;
    border-radius: 20px;
    margin: 10px auto;
    padding:10px 15px;
    width:240px;
    font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div3 p{
  margin: 7;
}
.verbal{
  color: #9ccf24;
}
.div4{
 background-color: #184e7733;
    border-radius: 20px;
    margin: 10px auto;
    padding:10px 15px;
    width:240px;
    font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div4 p{
  margin: 7;
}
.visual{
  color:#184e77 ;
}

.button{
  background-color:#22577a ;
  width:260px;
  margin:10px auto;
  padding: 10px 15px;
  border-radius: 100px;
}

.continue{
  color: #fefbfb;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.button p{
  margin: 7;
}
